.game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 20rem;
}

.game .left {
    display: flex;
    flex-direction: column;
    align-items: center;
}
